<div class="container">
  <div class="coinInfo">
    <span class="logo"><img src="{{imageUrl}}{{coin.image_url}}" width="67" height="67"></span>
    <div>
        <div class="nameSymbol">
            <span>{{coin.name}}</span>
            <span>({{coin.symbol}})</span>
        </div>
        <div class="marketPrice">
            <div>{{coin.usd_price | currency}}</div>
            <div><mat-icon class="icon" svgIcon="btc"></mat-icon>{{coin.btc_price | number:'.2-9'}}</div>

        </div>
    </div>
    <div class='marketCap'>
        <div>Market Cap</div>
        <div>${{coin.market_cap_usd | number: '1.0-0'}}</div>
        <div><mat-icon class="icon" svgIcon="btc"></mat-icon>{{market_cap_btc  | number: '1.0-0'}}</div>
    </div>
  </div>
  <br>
  <div class='chart'>
    <app-main-chart
        [name]='coin.name'
        [symbol]='coin.symbol'
        [supply]='coin.total_supply'>
    </app-main-chart>
  </div>
</div>
