<div class="container" *ngIf="coin !== undefined">
  <div>
    <button mat-button (click)="backToMarker()">
      <mat-icon>arrow_back</mat-icon>Back to Market
    </button>
  </div>
  <br>
  <div class="coinInfoRow">
    <img class="logo" src="{{coin.icon}}" width="67" height="67">
    <div>
      <div class="nameSymbol">
        <h2>{{coin.name}}</h2>
        <span>({{coin.symbol}})</span>
      </div>
      <div class="marketPrice">
        <div>{{coin.price | currency}}</div>
        <div>
          <mat-icon class="icon" svgIcon="btc"></mat-icon>{{coin.priceBtc | number:'.2-9'}}
        </div>
      </div>
    </div>
    <div class='marketCap'>
      <div>Market Cap</div>
      <div>${{coin.marketCap | number: '1.0-0'}}</div>
      <div>
        <mat-icon class="icon" svgIcon="btc"></mat-icon>{{market_cap_btc | number: '1.0-0'}}
      </div>
    </div>
  </div>
  <br>
  <div class='chart'>
    <app-main-chart [name]='coin.name' [symbol]='coin.symbol' [supply]='coin.availableSupply'>
    </app-main-chart>
  </div>
  <div class="coinNews">
    <h2 class="coinNewsTitle">
      Latest News
    </h2>
    <cdk-virtual-scroll-viewport itemSize="20" style="height:30vh">
      <app-coin-news *cdkVirtualFor="let newsArticle of coinNews" [title]='newsArticle.title'
        [imageUrl]='newsArticle.imageurl' [url]='newsArticle.url'>
      </app-coin-news>
    </cdk-virtual-scroll-viewport>
  </div>
  <div style="height: 50px"></div>
</div>
<div fxLayout fxLayoutAlign="center center">
  <mat-spinner class="spinner" *ngIf="coin === undefined">
  </mat-spinner>
</div>