<div class="container" *ngIf="coin !== undefined">
    <div>
        <button mat-button (click)="backToMarker()"><mat-icon>arrow_back</mat-icon>Back to Market</button>
    </div>
    <br>
  <div class="coinInfo">
    <span class="logo"><img src="{{coin.icon}}" width="67" height="67"></span>
    <div>
        <div class="nameSymbol">
            <span>{{coin.name}}</span>
            <span>({{coin.symbol}})</span>
        </div>
        <div class="marketPrice">
            <div>{{coin.price | currency}}</div>
            <div><mat-icon class="icon" svgIcon="btc"></mat-icon>{{coin.priceBtc | number:'.2-9'}}</div>
        </div>
    </div>
    <div class='marketCap'>
        <div>Market Cap</div>
        <div>${{coin.marketCap | number: '1.0-0'}}</div>
        <div><mat-icon class="icon" svgIcon="btc"></mat-icon>{{market_cap_btc  | number: '1.0-0'}}</div>
    </div>
  </div>
  <br>
  <div class='chart'>
    <app-main-chart
        [name]='coin.name'
        [symbol]='coin.symbol'
        [supply]='coin.availableSupply'>
    </app-main-chart>
  </div>
  <mat-list>
    <ng-container *ngFor="let newsArticle of coinNews">
        <mat-list-item fxLayout="row" fxLayoutAlign="start center" >
              <span><a href={{newsArticle.url}}><img class="article-image" src="{{newsArticle.imageurl}}" /></a></span>
              <span class="article-title">{{newsArticle.title}}</span>
        </mat-list-item>
        <mat-divider></mat-divider>
    </ng-container>
  </mat-list>
</div>
<div fxLayout fxLayoutAlign="center center" >
    <mat-spinner class="spinner" *ngIf="coin === undefined">
    </mat-spinner>
</div>