<div class="container">
  <div>
    <span class="global_market_cap">Global Market Cap: ${{ globalStats?.total_mcap | number: '1.2-2' }}</span>    
    <span class="search-box">
      <mat-form-field>
        <input type="text" matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
    </span>
  </div>
  <app-market-table
    [dataSource]="this.dataSource"
    [coins]="this.coins"
    [columnsToDisplay]="this.columnsToDisplay"
    (navigated)="onNavigation($event)">
  </app-market-table>
  <div fxLayout fxLayoutAlign="center center" >
    <mat-spinner class="spinner" *ngIf="!ready">
    </mat-spinner>
  </div>
  <mat-paginator #paginator
    (page)="updateUrl($event)"
    [pageIndex] = "this.pageIndex"
    [length]="100"
    [pageSize]="this.pageSize"
    [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
</div>
