.mat-header-cell.mat-sort-header-sorted {
  color: black;
}
.search-box {
  width: 200px;
  padding: 8px 24px;
  float: left;
}
.container {
  display: flex;
  flex-direction: column;
  min-width: 350px;
  max-width: 100%;
  max-height: 94vh;
  margin-bottom: 20px;
}
.spinner-margin {
  margin: 0 10px;
}
.global_market_cap {
  width: 500px;
  padding: 8px 24px;  
  float: right;
  text-align: right;
}