<div class="container">
  <div>
    <span class="global_market_cap">Global Market Cap: ${{ globalStats?.total_mcap | number: '1.2-2' }}</span>    
    <span class="search-box">
      <mat-form-field>
        <input type="text" matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
    </span>
  </div>
  <mat-table #table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="icon" >
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell class="column" *matCellDef="let coin" (click)='coinView(coin)'> <img src="{{coin.icon}}" width="30" height="30"> </mat-cell>
    </ng-container>
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell class="column" *matCellDef="let coin" (click)='coinView(coin)'>{{coin.name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="symbol">
      <mat-header-cell *matHeaderCellDef> Symbol </mat-header-cell>
      <mat-cell class="column" *matCellDef="let coin" (click)='coinView(coin)'>{{coin.symbol}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="price">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Price USD </mat-header-cell>
      <mat-cell class="column" *matCellDef="let coin" (click)='coinView(coin)'>${{coin.price | number:'1.2-2'}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="priceBtc">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Price BTC </mat-header-cell>
      <mat-cell class="column" *matCellDef="let coin" (click)='coinView(coin)'> <mat-icon class="icon" svgIcon="btc"></mat-icon>{{coin.priceBtc | number:'.2-9'}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="marketCap">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Market Cap USD </mat-header-cell>
      <mat-cell class="column" *matCellDef="let coin" (click)='coinView(coin)'>${{coin.marketCap | number:'1.2-2'}}</mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="priceChange1d">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Percent Change </mat-header-cell>
      <mat-cell class="column" *matCellDef="let coin" (click)='coinView(coin)'>{{coin.priceChange1d | number}}%</mat-cell>
    </ng-container>
    

    <ng-container matColumnDef="availableSupply">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Available Supply </mat-header-cell>
      <mat-cell class="column" *matCellDef="let coin" (click)='coinView(coin)'>{{coin.availableSupply}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
    <mat-row *matRowDef="let coins; columns: columnsToDisplay"></mat-row>
  </mat-table>
  <div fxLayout fxLayoutAlign="center center" >
    <mat-spinner class="spinner" *ngIf="!ready">
    </mat-spinner>
  </div>
  <mat-paginator #paginator
    (page)="updateUrl($event)"
    [pageIndex] = "this.pageIndex"
    [length]="100"
    [pageSize]="this.pageSize"
    [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
</div>
